:root {
  --text: #57525c;
  --text-h: #08060d;
  --bg: #292922;
  --border: #e5e4e7;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #292922;
    --border: #2e303a;
  }
}

body {
  margin: 0;
}

#root {
  width: 1226px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 14px;
  color: #e1e1e1;
}

form input, form textarea {
  margin-top: 4px;
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  height: 100px;
  resize: vertical;
}

button {
  background: #00c9b0 !important;
  color: #e1e1e1 !important;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 13px;
  width: 190px !important;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #1fa797 !important;
}

input, textarea {
  background: #2b2b24;
  color: #e1e1e1;
  border: 1px solid #00c9b0;
}
